/* utility classes */

/* text color */

// text primary
.text-primary-100 {
  color: $clr-primary-100;
}
.text-primary-200 {
  color: $clr-primary-200;
}
.text-primary-300 {
  color: $clr-primary-300;
}
.text-primary-400 {
  color: $clr-primary-400;
}
.text-primary-500 {
  color: $clr-primary-500;
}

// text accent
.text-accent-100 {
  color: $clr-accent-100;
}
.text-accent-200 {
  color: $clr-accent-200;
}
.text-accent-300 {
  color: $clr-accent-300;
}
.text-accent-400 {
  color: $clr-accent-400;
}

// text neutral
.text-neutral-100 {
  color: $clr-neutral-100;
}
.text-neutral-200 {
  color: $clr-neutral-200;
}
.text-neutral-300 {
  color: $clr-neutral-300;
}

/* background color */

// background primary
.bg-primary-100 {
  background-color: $clr-primary-100;
}
.bg-primary-200 {
  background-color: $clr-primary-200;
}
.bg-primary-300 {
  background-color: $clr-primary-300;
}
.bg-primary-400 {
  background-color: $clr-primary-400;
}
.bg-primary-500 {
  background-color: $clr-primary-500;
}

// background accent
.bg-accent-100 {
  background-color: $clr-accent-100;
}
.bg-accent-200 {
  background-color: $clr-accent-200;
}
.bg-accent-300 {
  background-color: $clr-accent-300;
}
.bg-accent-400 {
  background-color: $clr-accent-400;
}
// background neutral
.bg-neutral-100 {
  background-color: $clr-neutral-100;
}
.bg-neutral-200 {
  background-color: $clr-neutral-200;
}
.bg-neutral-300 {
  background-color: $clr-neutral-300;
}

/* font-weight */
.fw-400 {
  font-weight: $fw-400;
}
.fw-500 {
  font-weight: $fw-500;
}
.fw-700 {
  font-weight: $fw-700;
}
.fw-800 {
  font-weight: $fw-800;
}
.fw-900 {
  font-weight: $fw-900;
}

/* font-size */
.fs-100 {
  font-size: $fs-100;
}
.fs-200 {
  font-size: $fs-200;
}
.fs-200-1 {
  font-size: $fs-200;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-800 {
  font-size: $fs-800;
}

.ts-400 {
  transition: $ts-400;
}

.radius-100 {
  border-radius: $radius-100;
}
.radius-200 {
  border-radius: $radius-200;
}

// container
.container {
  width: 90%;
  margin-inline: auto;
  // border: $d-border;
}

.space-margin-top-bot {
  margin: $size-500 0;
}
.space-padding-top-bot {
  padding: $size-900 0;
}

// utility classes

// headers
.header-100 {
  font-size: $fs-600;
  font-weight: $fw-600;
}
.header-200 {
  font-size: $fs-500;
  font-weight: $fw-600;
}

.header-gray {
  font-size: $fs-300;
  font-weight: $fw-600;
  color: $clr-neutral-400;
}
.header-blue {
  font-size: $fs-400;
  font-weight: $fw-600;
  color: $clr-primary-200;
}

.paragraph-100 {
  font-size: $fs-700;
  font-weight: $fw-600;
}
.paragraph-200 {
  font-size: $fs-600;
  font-weight: $fw-600;
}
.paragraph-300 {
  font-size: $fs-300;
  font-weight: $fw-600;
}

// buttons
.star-button {
  border-radius: 2em;
  background-color: $clr-neutral-100;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: $clr-accent-100;
  font-size: $fs-200;
  font-weight: $fw-500;
  padding: 0.3em 1em;
  & img {
    width: 0.8em;
    height: 0.8em;
  }
}
.popular-button {
  border-radius: 2em;
  background-color: $clr-primary-100;
  color: $clr-accent-100;
  font-size: $fs-200;
  font-weight: $fw-500;
  padding: 0.4em 1.5em;
}
.enroll-button {
  border-radius: 0.2em;
  background-color: $clr-primary-400;
  color: $clr-accent-100;
  font-size: $fs-300;
  font-weight: $fw-600;
  padding: 0.4em 1.5em;
}
.view-syllabus-button {
  border-radius: 0.2em;
  border: 0.2px solid $clr-primary-200;
  background-color: transparent;
  color: $clr-primary-200;
  font-size: $fs-300;
  font-weight: $fw-600;
  padding: 0.4em 1.5em;
}

// flex's

.flex-spacing-100 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
