$clr-primary-100: #3dadf2;
$clr-primary-200: #005696;
$clr-primary-300: #002147;
$clr-primary-400: #fdcb0e;

$clr-accent-100: #ffffff;
$clr-accent-200: #fbf8f3;
$clr-accent-300: #fbf8f3;
$clr-accent-400: #a09c9c21;

$clr-neutral-100: #000000;
$clr-neutral-200: #555454;
$clr-neutral-300: #c5c5c5;

$ff-primery: Inter, Avenir, Helvetica, Arial, sans-serif;
$ff-body: $ff-primery;
$fs-body: calc(10px + 2vmin);

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$fs-100: 12px;
$fs-200: 16px;
$fs-300: 18px;
$fs-400: 1em;
$fs-500: 1.5em;
$fs-600: 2em;
$fs-700: 2.5em;
$fs-800: 3em;
$fs-900: 3.5em;

$ts-400: all 0.2s linear;
$radius-100: 0.2em;
$radius-200: 1em;

$size-100: 0.5em;
$size-200: 1em;
$size-300: 1.5em;
$size-400: 2em;
$size-500: 2.5em;
$size-600: 3em;
$size-700: 3.5em;
$size-800: 4em;
$size-900: 5em;

$bxs-100: 0 8px 16px #00000029;
$bxs-200: 0 4px 12px #00000014, 0 0 1px #0100001a;
$bxs-300: 0 1px 1px #0000000a;
$bxs-400: 0 2px 1px #0000000a;

$w-container: calc(min(100%, 1440px));
$w-header: 50px;
$d-border: 2px solid hotpink;
