.about {
  &-cards {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    &-card {
      grid-template-rows: repeat(2, 1fr);
      display: grid;
      align-items: center;
      justify-items: center;
      // aspect-ratio: 1;

      .about-cards-card-desc,
      .about-cards-card-img {
        width: calc(min(100%, 900px));
        height: calc(min(100%, 900px));
      }
      .about-cards-card-d esc {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $size-500;
        color: $clr-neutral-500;
        h1 {
          font-size: $fs-500;
          line-height: 1.2;
          width: 18ch;
        }
        p {
          font-size: $fs-300;
        }
      }
    }
  }
}
