.home {
  border: $d-border;
  background: url('/public/images/banner (1).png') no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
  height: fit-content;
  // h1 {
  //   word-spacing: 0.1em;
  //   -ms-text-combine-horizontal: all;
  //   margin-top: 2em;
  //   font-size: 2.2em;
  // }
  // p {
  //   text-align: -webkit-center;
  //   margin-top: 1.2em;
  //   font-size: 4em;
  // }
}

@media (max-width: 53em) {
  .home {
    background: url('/public/images/banner (2).png') no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    //     h1 {
    //       word-spacing: 0.1em;
    //       margin-top: 1.2em;
    //       font-size: 2.5em;
    //       font-weight: 700;
    //     }
    //     p {
    //       margin-top: 0.5em;
    //       font-size: 4em;
    //       font-weight: 700;
    //     }
  }
}
