.home {
  background: url('/public/images/mobile/image-header.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  h1 {
    word-spacing: 0.1em;
    -ms-text-combine-horizontal: all;
    margin-top: 2em;
    font-size: 2.2em;
  }
  p {
    text-align: -webkit-center;
    margin-top: 1.2em;
    font-size: 4em;
  }
}

@media (min-width: 30em) {
  .home {
    background: url('/public/images/desktop/image-header.jpg') center no-repeat;
    background-size: cover;
    padding-top: $w-header;
    h1 {
      word-spacing: 0.1em;
      margin-top: 1.2em;
      font-size: 2.5em;
      font-weight: 700;
    }
    p {
      margin-top: 0.5em;
      font-size: 4em;
      font-weight: 700;
    }
  }
}
