.main-header {
  // border: $d-border;
  height: 90px;
  margin: 1.5em auto;
  & nav {
    align-items: start;
    & .main-logo {
      width: min(200px, 100%);
      & img {
        width: 100%;
      }
    }

    & ul {
      gap: 1em;
      li {
        gap: 0.2em;
        display: flex;
        align-items: center;
        font-size: $fs-200;
        justify-content: space-between;

        & img {
          border-radius: 100%;
          padding: 0.25em;
          width: 24px;
        }
        & button {
          font-size: $fs-300;
          background-image: linear-gradient($clr-primary-100, $clr-primary-300);
        }
      }
    }
  }
}

@media (max-width: 53em) {
  .main-header {
    // width: 100%;
    height: fit-content;
    & nav {
      flex-direction: column;
      & ul {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}
